<div ng-controller="UserNewController">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputMessage" class="col-sm-2 control-label">Public Message</label>
      <div class="col-sm-4">
        <textarea class="form-control" rows="3" ng-model="content"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="flush(content)">Create</button>
      </div>
    </div>
  </form>
</div>
