<h1><span>{{user.name}}'s messages</span></h1>
<br>
<p>
You can create a private message to <b>{{user.name}}</b>. This message will not be visible to you and anyone else other than <b>{{user.name}}</b>.
</p>
<div class="container">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputMessage" class="col-sm-2 control-label">Private Message</label>
    <div class="col-sm-4">
      <textarea class="form-control" rows="3" ng-model="content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" ng-click="submit(content)">Create a private message to {{user.name}}</button>
    </div>
  </div>
</form>
</div>

<!-- show all messages -->
<ul class="msg">
  <li ng-repeat="message in messages">{{message}}</li>
</ul>