doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/bower_components/cryptico/cryptico.js')
    script(type='text/javascript', src='/javascripts/bower_components/es6-promise/promise.js')
    script(type='text/javascript', src='/javascripts/bower_components/inclusive.js/temp/inclusive.js')
    script(type='text/javascript', src='/javascripts/forge.bundle.js')
    script(type='text/javascript', src='/javascripts/bower_components/localforage/dist/localforage.js')
    script(type='text/javascript', src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content