doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title LAPS Game
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    // make sure we can install as a web app on iOS mobile
    meta(name='apple-mobile-web-app-capable', content='yes')
    // make sure we can install as a web app on android mobile
    meta(name='mobile-web-app-capable', content='yes')
    // CSS files
    link(type='text/css', rel='stylesheet', href='/stylesheets/vagrounded.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/app.css')
    // Required libs
    // NB Jquery needs to be removed here
    script(type='text/javascript', src='/javascripts/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bower_components/es6-promise/promise.js')
    script(type='text/javascript', src='/javascripts/bower_components/inclusive.js/dist/inclusive.js')
    script(type='text/javascript', src='/javascripts/bower_components/laps-client-framework/dist/framework.js')
    // Add in the required player boot script
    script(type='text/javascript', src='/javascripts/player_normal.js')
  body
    block content